/* * {
  border: 1px solid red;
} */

:root {
  font-family: 'Roboto', sans-serif;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  background-image: url(./img/bg.jpg);
  /* background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./img/bg.jpg'); */
  background-color: #f1f3f4;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  grid-area: header;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.game-title {
  font-size: 7rem;
  font-weight: 600;
}

.main {
  grid-area: main;
  align-self: center;
}

.player-name-container {
  background-color: #c2deec;
  align-self: center;
  padding: 0 1.5rem;
  border: 1px solid #f1f3f4;
  /* border: 10px solid #c2deec; */
  border-radius: 0.25rem;
}

.player1-name,
.player2-name {
  display: flex;
  justify-content: center;
  font-size: 1.9rem;
  font-weight: 600;
}

.boards-container {
  display: flex;
  justify-content: center;
  gap: 10rem;
}

.player1-board-container,
.player2-board-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

[class="player1-board"],
[class="player2-board"] {
  background-color: #269ad7;
  display: grid;
  width: 450px;
  height: 450px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 0.15rem;
  border: 10px solid #c2deec;
  
}

.pos {
  border: 2.5px solid #c2deec;
}

.player2-board.pos:hover {
  cursor: crosshair;
  border: 5px double #f54140;
}

footer {
  grid-area: footer;
}