/* * {
  border: 1px solid red;
} */

:root {
  font-family: 'Roboto', sans-serif;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  background-image: url(./img/bg.jpg);
  /* background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./img/bg.jpg'); */
  background-color: #f1f3f4;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  grid-area: header;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.game-title {
  font-size: 7rem;
  font-weight: 600;
}

.main {
  grid-area: main;
  align-self: center;
}

.player-name-container {
  background-color: #c2deec;
  align-self: center;
  padding: 0 1.5rem;
  border: 1px solid #f1f3f4;
  border-radius: 0.25rem;
}

.modal-place-ships-txt,
.player1-name,
.player2-name {
  display: flex;
  justify-content: center;
  font-size: 1.9rem;
  font-weight: 600;
}

.boards-container {
  display: flex;
  justify-content: center;
  gap: 10rem;
}

.player1-board-container,
.player2-board-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

[class="modal-place-ships-board"],
[class="player1-board"],
[class="player2-board"] {
  background-color: #c2deec;
  display: grid;
  width: 450px;
  height: 450px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border: 10px solid #c2deec;
  
}

.pos {
  background-color: #269ad7;
  border: 2.5px solid #c2deec;
}

.player2-board.pos:hover {
  cursor: crosshair;
  border: 5px double #f54140;
}

.modal-place-ships,
.modal-game-over {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-place-ships-content,
.modal-game-over-content {
  display: flex;
  flex-direction: column;
  background-color: #c2deec;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #f1f3f4;
  border-radius: 0.25rem;
}

.modal-place-ships-content {
  padding: 0.5rem 0 1rem 0;
  gap: 0.5rem;
}

.modal-game-over-content {
  padding: 1.5rem;
  gap: 1.25rem;
}

.modal-game-over-content-txt {
  font-size: 3rem;
  font-weight: 600;
}

.modal-place-ships-top-btn-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.modal-place-ships-axis-btn,
.modal-place-ships-random-btn,
.modal-place-ships-clear-btn {
  font-size: 1.25rem;
  align-self: center;
  padding: 0 1.25rem;
  border: none;
  border-radius: 0.25rem;
  margin-top: 0.3rem;
}

.modal-place-ships-random-btn:hover,
.modal-place-ships-axis-btn:hover,
.modal-place-ships-clear-btn:hover {
  cursor: pointer;
  background-image: linear-gradient(rgb(0 0 0/3%) 0 0);
}

.modal-place-ships-board.pos:hover {
  cursor: pointer;
}

.modal-place-ships-play-btn,
.modal-game-over-content-reset-btn {
  align-self: center;
  border: 2px solid black;
  border-radius: 0.25rem;
  font-size: 1.5rem;
  padding: 0 1.5rem;
}

.modal-place-ships-play-btn:hover,
.modal-game-over-content-reset-btn:hover {
  cursor: pointer;
  color: white;
  background-color: #269ad7;
}

footer {
  grid-area: footer;
}